* {
  font-family: 'Playpen Sans', cursive;
}
.card{
   background-color: rgb(255, 255, 255);
   border-radius: 10px;
   box-shadow: 0 1px 1px;
   max-width: 500px;
  padding: 20px;  
  border-radius: 8px;
  margin: 100px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: antiquewhite;
  height: 100%;
  margin: 0;
  padding: 0;
}